@model FC.Shared.Entities.UNews
@using FC.Shared.Config
@{
    ViewBag.Title = "NewsCard";
    string imgSource = FC.Shared.Config.FCConfig.API + ".img?&width=800&height=272&crop=true";
}

<div class="card news-card">
    @if (Model.Title.Count() < 40)
    {
        <div class="card-header">
            <span class="h5">
                @Model.Title
            </span>
        </div>
    }
    else
    {
        <div class="card-header">
            <span class="h5">
                @Model.Title.Substring(0, 37)
                ...
            </span>
        </div>
    }
    <div class="card-block">
        <div class="top">
            <img src="@imgSource" alt="@Model.Title" />
        </div>
        <div class="bottom">
            <div class="news-card-header">
                <span class="value"> @Model.DisplayDate</span>
            </div>
            <p>
                @Model.MetaDescription
                <a title="@Model.Title" href="/news/@Model.NewsID" class="btn-sm btn-danger">READ MORE</a>
            </p>
            <div class="news-card-footer">
                <span class="label">SOURCE:</span><span class="value">@Model.SourceName</span>
                <!--<div class="keywords" ng-bind-html="vm.ExplodeTagString($sce,n.MetaKeys)"></div>-->
            </div>
        </div>
    </div>
</div>