@using FC.WebMVC.Helpers

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="theme-color" content="#333333" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="WM-Development" />
    <meta name="copyright" content="WM-Development" />
    <script type="text/javascript" src="/modernizr.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <base href="/" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="stylesheet" href="node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="/App/Resources/cssv2/core/fc.css" />
    @RenderSection("META")
</head>
<body ng-app="FC">
    <div id="fb-root"></div>
    <img alt="festival calendar background" src="Resources/images/bg.jpg" id="bg" />
    <div id="MainOverlay" class="overlay ctx-hidden"></div>
    <div class="menu-mobile visible-sm-down" ng-controller="FC.Modules.Menu.Controllers.MenuController as vm">
        <div class="container">
            <div class="left">
                <div class="wrp-logo mobile">
                    <a href="/" title="FESTIVAL CALENDAR | Discover the most amazing festivals world wide!">
                        <img src="~/Resources/images/logoc.png" title="Festival-Calendar.com" />
                    </a>
                </div>
            </div>
            <div class="middle">
            </div>
            <div class="right">
                <a href="#" ng-click="$event.preventDefault();vm.ToggleMobile()" style="color:#FFF;" class="opener">
                    <i class="fa fa-bars"></i>
                </a>
                <div id="MenuMobile" class="mobile-menu-context ctx-hidden">
                    <div class="container">
                        <ul>
                            <li>
                                <a href="/" title="Festivals @DateTime.Now.Month/@DateTime.Now.Year">
                                    <i class="fa fa-calendar"></i> CALENDAR
                                </a>
                            </li>
                            <li>
                                <a href="/news" title="NEWS">
                                    <i class="fa fa-newspaper-o"></i> NEWS
                                </a>
                            </li>
                            @if (!Html.HasViewAuth(FC.Shared.Enum.Roles.GetAll()))
                            {
                                <li>
                                    <a href="/register" title="SIGN IN AT FESTIVAL CALENDAR"><i class="fa fa-sign-in"></i> SIGN UP</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/profile/index" title="SIGN IN AT FESTIVAL CALENDAR"><i class="fa fa-user"></i> @AuthorizationRepository.Current.CurrentUser.UserFirstname.ToUpper()</a>
                                </li>
                                <li>
                                    <a href="/Register/logout" title="SIGN IN AT FESTIVAL CALENDAR"><i class="fa fa-lock"></i> LOGOUT</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu hidden-sm-down">
        <div class="container">
            <div class="left">
                <div style="float:left; margin-top: 5px; margin-left: -15px;" class="fb-like" data-href="https://www.facebook.com/festivalcalendarcom/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <span style="float:left;" class="slogan hidden-md-down">DISCOVER THE MOST AMAZING FESTIVALS!</span>
            </div>
            <div class="middle">
                <div class="wrp-logo">
                    <a href="https://festival-calendar.nl" title="Festival Calendar - Discover the most amazing festivals">
                        <img class="logo" src="/Resources/images/logoc.png" title="Festival-Calendar.com" />
                    </a>
                </div>
            </div>
            <div class="right">
                <ul class="visible-xl visible-l">
                    <li>
                        <a href="/" title="Festivals @DateTime.Now.Month/@DateTime.Now.Year">
                            <i class="fa fa-calendar"></i> CALENDAR
                        </a>
                    </li>
                    <li><span class="separator">/</span></li>
                    <li>
                        <a href="/news" title="NEWS">
                            <i class="fa fa-newspaper-o"></i> NEWS
                        </a>
                    </li>
                    <li><span class="separator">/</span></li>
                    @if (!Html.HasViewAuth(FC.Shared.Enum.Roles.GetAll()))
                    {
                        <li>
                            <a href="/register" title="SIGN IN AT FESTIVAL CALENDAR">
                                <i class="fa fa-sign-in"></i> SIGN UP
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Register/logout" title="SIGN OUT OF FESTIVAL CALENDAR">
                                <i class="fa fa-lock"></i> LOGOUT
                            </a>
                        </li>
                        <li><span class="separator">/</span></li>
                        <li>
                            <a href="/profile/index" title="MANAGE YOUR PROFILE">
                                <i class="fa fa-user"></i>@AuthorizationRepository.Current.CurrentUser.UserFirstname.ToUpper()
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="main" class="main container">
        @RenderBody()
    </div>
    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 left">
                    <a href="https://festival-calendar.nl" title="Festival Calendar - Discover the most amazing festivals">
                        <img class="logo" src="/Resources/images/logoc.png" title="Festival-Calendar.com" />
                    </a>
                </div>
                <div class="col-xs-8 middle">

                </div>
                <div class="col-xs-8 right">
                    <h5 style="color:#FFF; font-size: 12px; margin-top: 10px; float:right;">&copy; FESTIVAL CALENDAR | BETA 1.0</h5>
                </div>
            </div>
        </div>
    </footer>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1829782037310162',
                xfbml: true,
                version: 'v1.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="phone-countries.js"></script>
    <script src="/App/deps.min.js"></script>
    <script src="festival-calendar.js"></script>
    @if (HttpContext.Current.Request.Url.ToString().ToLower().Contains("https://festival-calendar.nl"))
    {
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-96994585-2', 'auto');
              ga('send', 'pageview');
        </script>
    }
    else if (HttpContext.Current.Request.Url.ToString().ToLower().Contains("https://festival-calendar.com"))
    {
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-96994585-3', 'auto');
          ga('send', 'pageview');
        </script>
    }
    else if (HttpContext.Current.Request.Url.ToString().ToLower().Contains("http://festival-calendar.nl"))
    {
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-96994585-1', 'auto');
          ga('send', 'pageview');
        </script>
    }
    else if (HttpContext.Current.Request.Url.ToString().ToLower().Contains("http://festival-calendar.com"))
    {
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-96994585-4', 'auto');
          ga('send', 'pageview');
        </script>
    }
</body>
</html>