@model FC.Shared.Entities.ApplicationUser
@section META {
    <title>FESTIVAL CALENDAR | Discover the most amazing festivals world wide!</title>
    <meta property="og:url" content="http://festival-calendar.nl/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FESTIVAL CALENDAR | Discover the most amazing festivals world wide!" />
    <meta property="og:description" content="Plan your festival season with Festival Calendar! Discover the most amazing festivals world wide!" />
    <meta property="og:image" content="~/Resources/images/fc-icon.png" />
    <meta name="keywords" content="Festival,Calendar,Events,Artists,Social,Platform,Manage,Profile,Agenda" />
    <meta name="description" content="Plan your festival season with Festival Calendar! Discover the most amazing festivals world wide!" />
}
@{
    var state = ViewBag.State as FC.BL.Repositories.RepositoryState;
    state = ViewBag.Flash;
}
<div class="row">
    <div class="col-md-24">
        <div class="card">
            <div class="card-header">
                <span class="h5">RESET YOUR PASSWORD!</span>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12 benefits">
                        <h5>HOW IT WORKS?</h5>
                        <ul>
                            <li>
                                <i class="fa fa-envelope-o"></i> <span class="h5">YOUR EMAIL ADDRESS</span>
                                <span class="description">We will send you a password reset link. Please check your junk/spam folder to.</span>
                            </li>
                            <li>
                                <i class="fa fa-external-link"></i> <span class="h5">NAVIGATE TO PASSWORD RESET PAGE</span>
                                <span class="description">Read instructions in the password reset email. </span>
                            </li>
                            <li>
                                <i class="fa fa-key"></i> <span class="h5">ENTER A NEW PASSWORD</span>
                                <span class="description">Click on SAVE to save your new password.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            if (state != null)
                            {
                                if (state.SUCCESS == false)
                                {
                                    <div class="alert alert-danger">
                                        @state.MSG
                                    </div>
                                }
                                if (state.SUCCESS)
                                {
                                    <div class="alert alert-success">
                                        @state.MSG
                                    </div>
                                }
                            }
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    @Html.EditorFor(model => model.UserEmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <div class="col-md-24 no-padding no-margin" style="padding-top:15px; padding-bottom:15px;">
                                        @Html.Partial("~/Views/Forms/Recaptcha.cshtml")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-24">
                                        <input type="submit" value="SEND LINK" class="btn btn-success pull-right" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
