
@section META {
    <title>FESTIVAL CALENDAR | Discover the most amazing festivals world wide!</title>
    <meta property="og:url" content="http://festival-calendar.nl/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FESTIVAL CALENDAR | Discover the most amazing festivals world wide!" />
    <meta property="og:description" content="Plan your festival season with Festival Calendar! Discover the most amazing festivals world wide!" />
    <meta property="og:image" content="~/Resources/images/fc-icon.png" />
    <meta name="keywords" content="Festival,Calendar,Events,Artists,Social,Platform,Manage,Profile,Agenda" />
    <meta name="description" content="Plan your festival season with Festival Calendar! Discover the most amazing festivals world wide!" />
}
@{

    var state = ViewBag.Flash as FC.BL.Repositories.RepositoryState;
    if (state == null)
    {
        if (ViewBag.State != null)
        {
            state = ViewBag.State;
        }
    }
}
@Html.Partial("_Navbar")
@if (state != null)
{
    <div class="row">
        <div class="col-xs-24">
            @if (state.SUCCESS)
            {
                <div class="alert alert-success">
                    @state.MSG
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    @state.MSG
                </div>
            }
        </div>
    </div>
}
<div class="row filter-control" ng-controller="FC.Modules.Filtering.Controllers.FilterBarController as fbctr" ng-init="fbctr.ClearDateCookies()">

    <div class="col-xs-24 col-sm-12 col-md-12 col-lg-6 col-xl-6 filter-control-item-wrapper" ng-show="IsLoading==false">
        <form class="filter-control-item search" ng-controller="FC.Modules.Search.Controllers.SearchController as vm" ng-submit="vm.DoSearch()">
            <a href="#" class="btn btn-default" ng-click="$event.preventDefault();vm.DoSearch()">
                <i class="fa fa-search"></i>
            </a>
            <input type="text" ng-class="Keyword ? 'searching':''" class="textbox" placeholder="FESTIVAL, CITY, GENRE, ARTIST" ng-model="Keyword" ng-change="vm.DoChangeSearch()" />
            <a href="#" class="btn btn-default cancel" ng-class="Keyword ? 'searching':''" ng-click="$event.preventDefault();vm.ResetSearch()" ng-if="Keyword">
                <i class="fa fa-times"></i>
            </a>
        </form>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-12 col-lg-6 col-xl-6  filter-control-item-wrapper"  ng-show="IsLoading == false">
        <div class="filter-control-item" ng-controller="FC.Modules.Filtering.Controllers.DateFilterController as vm">
            <a href="#" class="btn btn-default" ng-click="$event.preventDefault(); vm.ShowFilter(this);">
                <i class="fa fa-calendar" style="position:relative;top:-2px;"></i>
            </a>
            <span class="textbox" ng-click="vm.ShowFilter(this)">{{DateString}}</span>
            <input type="hidden" name="Year" ng-model="Year" />
            <input type="hidden" name="Month" ng-model="Month" />
        </div>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-12 col-lg-6 col-xl-6 filter-control-item-wrapper" ng-show="IsLoading == false">
        <div class="filter-control-item" ng-controller="FC.Modules.Genres.Controllers.GenreFilterController as vm">
            <a href="#" class="btn btn-default" ng-click="$event.preventDefault(); vm.ShowFilter(this);">
                <i class="fa fa-heart" style="color: #FF0000"></i>
            </a>
            <span type="text" class="textbox" placeholder="" ng-click="vm.ShowFilter(this)">{{Selected}}</span>
            <input type="hidden" name="Genres" ng-model="SelectedGenreIds" />
        </div>
    </div>
    <div class="col-xs-24 col-sm-12 col-md-12 col-lg-6 col-xl-6 filter-control-item-wrapper" ng-show="IsLoading == false">
        <div class="filter-control-item" ng-controller="FC.Modules.Filtering.Controllers.CountryFilterController as vm">
            <a href="#" class="btn btn-default" ng-click="$event.preventDefault(); vm.ShowFilter(this);">
                <i class="fa fa-map-marker"></i>
            </a>
            <span class="textbox" ng-click="vm.ShowFilter(this)">{{Selected}}</span>
            <input type="hidden" name="Genres" ng-model="SelectedGenreIds" />
        </div>
    </div>
</div>

<div class="row search-control" ng-controller="FC.Modules.Calendar.Controllers.SimpleCalendarController as vm" infinite-scroll="vm.LoadMore()" infinite-scroll-disabled="API.Busy" infinite-scroll-distance="0">
    <div ng-if="IsLoading==false && Festivals.length > 0" class="col-xs-24 col-sm-12 col-md-12 col-lg-8 col-xl-6 search-result" ng-repeat="(FestivalKey,Festival) in Festivals">
        @Html.Partial("~/Views/Festival/_FestivalCard.cshtml")
    </div>
    <div class="col-md-24" ng-if="API.Busy==true">
        @Html.Partial("_Loader")
    </div>
    <div class="col-xs-24" ng-if="IsLoading == false && Festivals.length > 0" style="margin-top: 20px;">
        <center>
            <a href="#" title="Restore to defaults" class="btn btn-danger" ng-click="$event.preventDefault(); vm.ClearFilters();">
                <i class="fa fa-refresh"></i> CLEAR ALL FILTERS
            </a>
        </center>
    </div>
    <div class="col-xs-24 no-result"  ng-show="IsLoading==false && Festivals.length ==0 && Festivals">
        <center>
            <h2 style="margin-top: 50px; color:#FFF !important;">
                No festivals were found at the moment.
            </h2>
            <h5 style="color:#FFF;">Try again later, we are very busy with mining all the festival information world wide.</h5>
        </center>
        <div class="no-result-controls">
            <center>
                <a href="#" title="Back to calendar" class="btn btn-success" ng-if="ShowCancelSearch" ng-click="$event.preventDefault(); vm.init();">
                    <i class="fa fa-times"></i> BACK TO CALENDAR
                </a>
                <a href="#" title="Restore to defaults" class="btn btn-danger" ng-click="$event.preventDefault(); vm.ClearFilters();">
                    <i class="fa fa-refresh"></i> CLEAR ALL FILTERS
                </a>
            </center>
        </div>
    </div>
    <div ng-show="IsLoading == true && !Festivals" class="col-xs-24">
        @Html.Partial("_Loader")
    </div>
</div>
